# Pandas Advanced: Learning notebook

In this notebook we will be covering the following:


- Pandas
    - quick operations: sum, mean, median, max, min
- Python
    - Strings
        - accessing by index
    - Lists
        - append
        - accessing by index
    - Loops
    - Functions
        - Return
        - Print
- Python and Pandas
    - Applying Python functions over Pandas Series and DataFrames
    - lambda functions
    - Creating new columns as a result from an operation

----

In [9]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Python

## Strings

So a string is just plain text

In [23]:
mystring = 'hello world!'

We can print it

In [24]:
print(mystring)

hello world!

We can also access a specific character by index

In [25]:
mystring[0]

'h'

Negative index means to start counting backwards

In [26]:
mystring[-1]

'!'

> **quiz**: how to get only the space character from the string above?

In [29]:
space_char = mystring#[?]

### Substrings

We can also create substrings from strings this way:

In [32]:
mystring[0:5]

'hello'

In [41]:
mystring[6:]

'world!'

Look at the first example `mystring[0:5]`
Even though we said we want every character from the 0th position to the 5th, the last character 'o' is in the index position 4. This means that the second argument of the slice is exclusive, and the first is inclusive.

> quiz: how to get "hello world" without the "!"?

In [35]:
#answer =

## Lists

A list can hold multiple elements inside

In [43]:
a = [1,2,3,4,5]

And we can access lists pretty much the same way we access strings: with slices!

In [44]:
a[0]

1

In [45]:
a[-1]

5

Lists can hold  other elements such as strings

In [46]:
b = ['aneeb', 'workshop']

And we can also store multiple types

In [47]:
c = [1,'hello',2,'world']

### append

We can actually add elements to a list in the following way:

In [50]:
d = []
d

[]

In [51]:
d.append('abc')

In [52]:
d

['abc']

In [53]:
d.append('def')

In [54]:
d

['abc', 'def']

Notice that append adds the element to the last position

## Loops

In python loops are pretty simple. Here's how you make a loop from 1 to 10:

In [55]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

hum... it appears range is also exclusive on the second argument

The argument after `for i in ...` just has to be an iterable (like a list or a string!)

In [57]:
a = [1,10,100,1000]
for i in a:
    print(i)

1
10
100
1000

We can do more interesting things with loops of course

In [59]:
numbers = [2,3,4,5,6,7]

for n in numbers:
    if n % 2 == 0:
        print(f'{n} is even')
    else:
        print(f'{n} is odd')

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd

> quiz: given a list of numbers, how can i calculate the total sum of those numbers?

In [60]:
mylist = [100,200,300,400]

# ...

## Functions

Typical example of a function in python.

In [64]:
def add(a,b):
    return a + b

In [70]:
add(1,2)

3

In [77]:
def multiply(a,b):
    total = a
    for e in range(1,b):
        total += a
    return total

In [81]:
multiply(3,7)

21

Functions receive arguments, then perform operations and at the end they can return a result with `return`. 

However, functions don't need to always return something. For example might want to print something:

In [82]:
def say_hello(name):
    
    print(f'Hello, {name}!')

In [83]:
say_hello('everyone')

Hello, everyone!

# Pandas

In [8]:
#data_repo = ...
df = pd.read_csv('data/sales.csv')
df.head(3)
df.shape

     country        date   sales  n_items  n_orders  day_of_week
0  Australia  2010-12-01  358.25      107         1            2
1  Australia  2010-12-08  258.90      214         1            2
2  Australia  2010-12-17  415.70      146         1            4

(967, 6)

Pandas allows us to perform simple math operations out of the box

In [11]:
df['sales']

0       358.25
1       258.90
2       415.70
3      7154.38
4        81.60
        ...
962    6207.67
963     292.58
964     925.64
965     430.57
966     262.50
Name: sales, Length: 967, dtype: float64

What's the total value of sales worldwide?

In [13]:
df['sales'].sum()

1362160.3900000001

What about on average?

In [14]:
df['sales'].mean()

1408.6456980351604

And the standard deviation?

In [15]:
df['sales'].std()

2604.218571681015

hum.... median?

In [17]:
df['sales'].median()

683.93

<a href="https://imgflip.com/i/4xg9tm"><img src="https://i.imgflip.com/4xg9tm.jpg" title="made at imgflip.com"/></a><div><a href="https://imgflip.com/memegenerator"></a></div>

# Python and Pandas

Let's take leverage of what we know of Python and **apply** that to handling data in Pandas.

In [85]:
df.head(3)

     country        date   sales  n_items  n_orders  day_of_week
0  Australia  2010-12-01  358.25      107         1            2
1  Australia  2010-12-08  258.90      214         1            2
2  Australia  2010-12-17  415.70      146         1            4

Looking at the **sales** and **n_items** columns, it would be nice to know, on average, how much each item costed.

We will apply a function over all the rows and for each row let's divide **sales** by **n_items** and check the result

In [93]:
def sales_per_item(row):
    """
    Gets the average sales per item
    
    Parameters
    ----------
    row : pd.Series
        A pandas series corresponding to a row of the dataset of sales.
    """
    return row.sales / row.n_items

df.apply(sales_per_item, axis=1)

0      3.348131
1      1.209813
2      2.847260
3      1.489875
4      0.850000
         ...
962    2.292345
963    4.571562
964    1.383617
965    2.327405
966    1.738411
Length: 967, dtype: float64

----

<a href="https://imgflip.com/i/4xgofg"><img src="https://i.imgflip.com/4xgofg.jpg" title="made at imgflip.com"/></a><div><a href="https://imgflip.com/memegenerator"></a></div>

Let's go by steps:

- Our goal is to go over the rows and divide the values of the two columns: `sales` and `n_items`
- Pandas's `apply` function allows us to... surprise, surprise... apply a function over the dataset
- The first argument of `apply` receives a function. `apply` will pass the contents of each iteration to this function and the function should return a result.
- The second argument of the apply funcion `axis=1` tells Pandas to apply a function over the rows. This means that for each iteration, the function receives a row, which is just a Pandas Series with the index being the columns of the dataframe, and the values being the values of that row for those columns

There are multiple ways to get the same answer to this question. Each with their own quirks. For example, we don't need to define explicitly the `sales_per_item` function:

In [94]:
df.apply(lambda row: row.sales / row.n_items, axis=1)

0      3.348131
1      1.209813
2      2.847260
3      1.489875
4      0.850000
         ...
962    2.292345
963    4.571562
964    1.383617
965    2.327405
966    1.738411
Length: 967, dtype: float64

See? same result. Let's understand what is happening:

- `lambda row`: **lambda** is just there to tell python this will be a lambda function. **row** means that our function receives a single argument and will refer to it as **row**. It could be anything else really, like `lambda x`.
- `: row.sales / row.n_items`: the `:` tells python that now comes the body of the function, which, in lambda functions, is only one line of code. It acts like a `return row.sales / row.n_items`.


Lambda functions are pretty useful if we just want to do a simple operation for example, like dividing two numbers in this case.

Creating a whole function for doing the same thing takes a bit of time, and `lambda` functions save us that time.

----

### Creating new columns as a result of operations over Pandas objects

Now, notice that the result is itself a pandas series. The index is the same as the original dataframe, that means we can create a new column for this new information!

In [97]:
df['cost_per_item'] = df.apply(lambda row: row.sales / row.n_items, axis=1)

df.head(3)

,country,date,sales,n_items,n_orders,day_of_week,cost_per_item
0,Australia,2010-12-01,358.25,107,1,2,3.348131
1,Australia,2010-12-08,258.90,214,1,2,1.209813
2,Australia,2010-12-17,415.70,146,1,4,2.847260

> quiz: Create a new column 'country_code' which contains only the first 3 letters of the 'country' column