In [60]:
# importing packages

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import re # regular expressions

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from Bio.SeqUtils.ProtParam import ProteinAnalysis

In [64]:
df=pd.read_excel(r'2020.01.12_Combined_Ti_1.xlsx')

# See dataframe head

df.head(1)

,Row,User Flag,OK,Cmpd.,m/z meas.,Mr calc.,z,Δ m/z [ppm],RMS90 [ppm],Rt [min],...,#Cmpds.,Site,Rank,P,Sequence,Modifications,Type,Range,Accession,Protein
0,1,NaN,True,9938,508.753911,1523.610258,3,1.134868,5.145389,26.586875,...,45,99.966283,1,0,K.TVDMESTEVFTK.K,Acetyl: 1; Oxidation: 4; Phospho: 6,CID,153 - 164,CASA2_BOVIN,Alpha-S2-casein OS=Bos taurus GN=CSN1S2 PE=1 SV=2

In [65]:
#Checking all columns in the dataframe

df.columns

Index(['Row', 'User Flag', 'OK', 'Cmpd.', 'm/z meas.', 'Mr calc.', 'z',
       'Δ m/z [ppm]', 'RMS90 [ppm]', 'Rt [min]', 'Scores', '#Cmpds.', 'Site',
       'Rank', 'P', 'Sequence', 'Modifications', 'Type', 'Range', 'Accession',
       'Protein'],
      dtype='object')

In [66]:
PTMS = df[["Site" , "Sequence", "Modifications", "Accession"]]

PTMS.head(3)

,Site,Sequence,Modifications,Accession
0,99.966283,K.TVDMESTEVFTK.K,Acetyl: 1; Oxidation: 4; Phospho: 6,CASA2_BOVIN
1,NaN,K.VPQLEIVPNSAEER.L,Phospho: 10,CASA1_BOVIN
2,NaN,K.VPQLEIVPNSAEER.L,Phospho: 10,CASA1_BOVIN

In [68]:
# Calculating the Selectivity of all hits towards phosphopeptides

N_Phospho = PTMS['Modifications'].str.count("Phospho").sum()

PTMS.head(3)
PTMS.shape

Non_Unique_Selectivity = N_Phospho/PTMS.shape[0]

"{:.0%}".format(Non_Unique_Selectivity)

,Site,Sequence,Modifications,Accession
0,99.966283,K.TVDMESTEVFTK.K,Acetyl: 1; Oxidation: 4; Phospho: 6,CASA2_BOVIN
1,NaN,K.VPQLEIVPNSAEER.L,Phospho: 10,CASA1_BOVIN
2,NaN,K.VPQLEIVPNSAEER.L,Phospho: 10,CASA1_BOVIN

(2541, 4)

'100%'

## Taking a look at the unique sequences

In [145]:
Unique_peptides = PTMS.drop_duplicates(subset=['Sequence', 'Modifications'], keep='first')

Unique_peptides.head(3)
Unique_peptides.shape

,Site,Sequence,Modifications,Accession
0,99.966283,K.TVDMESTEVFTK.K,Acetyl: 1; Oxidation: 4; Phospho: 6,CASA2_BOVIN
1,NaN,K.VPQLEIVPNSAEER.L,Phospho: 10,CASA1_BOVIN
11,33.333333,K.DIGSESTEDQAMEDIK.Q,"Oxidation: 12; Phospho: 6, 7",CASA1_BOVIN

(46, 4)

In [146]:
Unique_Sequence = (PTMS
                   .drop_duplicates(subset=['Sequence'], keep='first')
                   .copy() # i needed copy because of a warning in pandas
                  )

# clean sequence by removing what's outside of "."
Unique_Sequence['Sequence'] = Unique_Sequence['Sequence'].apply(lambda seq: seq.split('.')[1])


Unique_Sequence.head(3)
Unique_Sequence.shape

,Site,Sequence,Modifications,Accession
0,99.966283,TVDMESTEVFTK,Acetyl: 1; Oxidation: 4; Phospho: 6,CASA2_BOVIN
1,NaN,VPQLEIVPNSAEER,Phospho: 10,CASA1_BOVIN
11,33.333333,DIGSESTEDQAMEDIK,"Oxidation: 12; Phospho: 6, 7",CASA1_BOVIN

(12, 4)